.dashboard_page {
  padding: 0 20px;
  h3 {
    font-size: 1.4rem;
  }
}

.main_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0 2%;
  .card_item {
    box-shadow: var(--box-shadow-1) !important;
  }
  &--income {
    box-shadow: var(--box-shadow-1);
    width: 30%;
    height: 250px;
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--color-white);
    & > div {
      &:first-child {
        height: 70px;
        padding: 20px 25px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:first-child {
          display: flex;
          align-items: center;
          gap: 10px;

          .income-details {
            display: flex;
            flex-direction: column;
            align-items: start;
            p {
              font-size: 0.9rem;
              font-weight: 500;
              color: var(--color-grey);
            }
            span {
              font-size: 2rem;
              font-weight: 700;
              color: var(--color-text);
            }
          }
        }
        div:last-child {
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 700;
          }
          span {
            font-size: 0.8rem;
            color: var(--color-grey);
          }
        }
      }
      &:last-child {
        height: 180px;
        width: 100%;
      }
    }
  }
  &--expense {
    box-shadow: var(--box-shadow-1);
    width: 30%;
    height: 250px;
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--color-white);
    & > div {
      &:first-child {
        height: 70px;
        padding: 20px 25px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:first-child {
          display: flex;
          align-items: center;
          gap: 10px;

          .expense-details {
            display: flex;
            flex-direction: column;
            align-items: start;
            p {
              font-size: 0.9rem;
              font-weight: 500;
              color: var(--color-grey);
            }
            span {
              font-size: 2rem;
              font-weight: 700;
              color: var(--color-text);
            }
          }
        }
        div:last-child {
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: 700;
          }
          span {
            font-size: 0.8rem;
            color: var(--color-grey);
          }
        }
      }
      &:last-child {
        height: 180px;
        width: 100%;
      }
    }
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 2%;
  & > div {
    background-color: var(--color-white);
    border-radius: 40px;
    overflow: hidden;
    width: 45%;
    position: relative;
    padding: 20px 0;
    box-shadow: var(--box-shadow-1);
    h4 {
      position: absolute;
      top: 25px;
      left: 20px;
    }
  }
}

.main_status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 2%;
  & > div {
    width: 35%;
    background-color: var(--color-white);
    border-radius: 40px;
    position: relative;
    padding: 50px 0;
    padding-bottom: 10px;
    box-shadow: var(--box-shadow-1) !important;
    &:first-child {
      width: 55%;
      box-shadow: none;
    }
    &.lastest_transaction {
      h4 {
        position: absolute;
        top: 20px;
        padding-left: 20px;
      }
      .lastest_transaction--content {
        display: flex;
        flex-direction: column;
        height: 300px;
        &[data-loading="true"] {
          position: relative;
          * {
            display: none;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid var(--color-grey);
            border-bottom-color: transparent;
            animation: main-loading 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
              infinite;
          }
        }
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 30px;
          padding: 30px 20px;
          &:nth-child(2n) {
            background-color: var(--color-grey-second);
          }
          .icon {
            height: 20px;
            width: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;
            padding: 10px;
            border-radius: 50%;
            svg {
              fill: var(--color-white);
            }
            &[data-bg="red"] {
              svg {
                transform: rotate(180deg);
              }
            }
            &[data-bg="grey"] {
              position: relative;
              svg {
                display: none;
              }
              &::before,
              &::after {
                content: "";
                width: 10px;
                height: 10px;
                background-color: var(--color-white);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: scaleAndOpacity 1s linear infinite;
              }
              &::before {
                animation-delay: 1s;
                animation-direction: reverse;
              }
            }
          }
          .status,
          .amount,
          .date {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .person {
            width: 120px;
            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: left;
              font-weight: 600;
              color: var(--color-text);
            }
            span {
              font-weight: 300;
              color: var(--color-grey);
              font-size: 0.8rem;
            }
          }
          .amount {
            width: 100px;
            font-weight: 700;
            color: var(--color-text);
          }
          .date {
            width: 140px;
            p {
              font-weight: 600;
              color: var(--color-text);
            }
            span {
              font-weight: 300;
              color: var(--color-grey);
              font-size: 0.8rem;
            }
          }
          .status {
            width: 100px;
          }
          .more_btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            letter-spacing: 1px;
          }
        }
      }
      .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        p {
          font-weight: 500;
        }
        .pagination {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          button {
            font-size: 1.05rem;
            height: 35px;
            width: 35px;
            border: 1px solid var(--color-grey);
            outline: none;
            color: var(--color-grey);
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s linear;
            &.active {
              border-color: var(--color-purple);
              background-color: var(--color-purple);
              color: var(--color-white);
            }
            &:not(&.active):hover {
              background-color: var(--color-grey);
              color: var(--color-white);
            }
          }
        }
      }
    }
    &.earning_categories {
      h4 {
        position: absolute;
        top: 20px;
        padding-left: 20px;
      }
      .earning_categories--content {
        margin-top: 20px;
        padding: 0 20px;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          gap: 10px;
          .logo {
            &[data-color="purple"] {
              circle {
                fill: var(--color-purple);
              }
            }
            &[data-color="red"] {
              circle {
                fill: var(--color-red);
              }
            }
            &[data-color="blue"] {
              circle {
                fill: var(--color-blue);
              }
            }
            &[data-color="orange"] {
              circle {
                fill: var(--color-orange);
              }
            }
          }
          & > div:last-child {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 4px;
            .position {
              width: 100%;
              background-color: var(--color-grey-second);
              height: 8px;
              border-radius: 10px;
              position: relative;
              overflow: hidden;
              div {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: attr(data-percent);
                border-radius: 10px;
                &[data-color="purple"] {
                  background-color: var(--color-purple);
                }
                &[data-color="red"] {
                  background-color: var(--color-red);
                }
                &[data-color="blue"] {
                  background-color: var(--color-blue);
                }
                &[data-color="orange"] {
                  background-color: var(--color-orange);
                }
              }
            }
          }
        }
      }
      button {
        margin-left: 10%;
        width: 80%;
        margin-top: 15px;
        border: none;
        outline: none;
        background-color: var(--color-grey-second);
        padding: 10px 0;
        border-radius: 30px;
        color: var(--color-purple);
        font-weight: 500;
        font-size: 1.05rem;
        transition: 0.2s linear;
        cursor: pointer;
        &:hover {
          background-color: var(--color-grey);
          color: var(--color-white);
        }
      }
    }
  }
}
@keyframes scaleAndOpacity {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.5;
  }
}
