.balance_page {
  padding: 0 20px;
  h3 {
    font-size: 1.4rem;
  }

  &--main {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 2%;
    & > div {
      width: 45%;
      padding: 20px 15px;
      background-color: var(--color-white);
      border-radius: 40px;
      box-shadow: var(--box-shadow-1);
    }
    .my_balance {
      h5 {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--color-grey);
      }
      .money {
        font-size: 1.7rem;
        font-weight: 700;
      }
      & > .desc {
        margin: 10px 0;
        display: flex;
        align-items: center;
        gap: 25px;
        div {
          p {
            font-weight: 300;
            color: var(--color-grey);
          }
          span {
            font-weight: 500;
            color: var(--color-text);
          }
        }
        & > span {
          font-weight: 600;
          color: var(--color-text);
        }
      }
      .targets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        .target-item {
          border: 4px solid var(--color-grey-second);
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: center;
          gap: 20px;
          height: 90px;
          padding: 0 15px;
          .progress-bar {
            width: 60px;
            height: 60px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            background: radial-gradient(
                closest-side,
                white 79%,
                transparent 80% 100%,
                white 0
              ),
              conic-gradient(
                var(--progress-color) calc(var(--progress-value) * 1%),
                var(--color-grey-second) 0
              );
            animation: js-progress 2s 1 forwards;

            &::before {
              animation: js-progress 2s 1 forwards;

              counter-reset: percentage var(--progress-value);
              content: counter(percentage) "%";
            }
          }
          .desc {
            p {
              font-weight: 600;
            }
            span {
              font-weight: 400;
            }
            p,
            span {
              color: var(--color-text);
            }
          }
        }
      }
    }
    .transfer_invoice {
      position: relative;
      &[data-loading="true"] {
        *:not(.loading) {
          opacity: 0;
        }
        .loading {
          display: inline-block;
          opacity: 1;
        }
      }
      & > h4 {
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 15px;
      }
      .loading {
        width: 35px;
        height: 35px;
        border: 2px solid var(--color-purple);
        border-radius: 50%;
        border-bottom-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: main-loading 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
          infinite;
        display: none;
      }
      &--list {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        margin-bottom: 10px;
        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: none;
          outline: none;
          background-color: transparent;
          &[data-loading="true"] {
            p {
              display: inline-block;
              width: 67px;
              height: 16px;
              margin-top: 3px;
              margin-bottom: 1px;
              overflow: hidden;
              background: #d0d0d0 !important;
              position: relative;

              &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                animation: loading 1s infinite;
                background: linear-gradient(
                  to right,
                  transparent,
                  #fffdfd,
                  transparent
                );
              }
            }
            .img {
              position: relative;
              background: #d0d0d0 !important;
              overflow: hidden;
              width: 65px;
              height: 65px;
              img {
                display: none;
              }
              &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                animation: loading 1s infinite;
                background: linear-gradient(
                  to right,
                  transparent,
                  #fffdfd,
                  transparent
                );
              }
            }
          }
          .img {
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.15s linear;
            img {
              width: 65px;
              height: 65px;
              border-radius: 50%;
              transform-origin: center;
              transition: 0.15s linear;
            }
          }
          &:hover,
          &[data-active="true"] {
            .img {
              border: 1px solid var(--color-grey);
              img {
                transform: scale(0.85);
              }
            }
          }
          &[data-active="true"] {
            .img {
              background-color: var(--color-purple);
            }
          }
          &[data-active="false"] {
            img {
              filter: grayscale(1);
            }
          }
        }
        .more {
          height: 65px;
          width: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid var(--color-grey-second);
          background-color: var(--color-grey-second);
          cursor: pointer;
          transition: 0.2s linear;
          svg {
            fill: var(--color-purple);
            transition: 0.2s linear;
          }
          &:hover {
            background-color: var(--color-purple);
            svg {
              fill: var(--color-grey-second);
            }
          }
        }
      }
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        & > label {
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 10px;
          & > p {
            font-weight: 600;
          }
          & > input {
            border-radius: 30px;
            outline: none;
            width: 90%;
            background-color: var(--color-grey-third);
            border: 2px solid var(--color-grey-second);
            padding: 8px 20px;
            font-size: 0.9rem;
            color: var(--color-text);
          }
        }

        & > div:not(#selectbox) {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          align-items: center;
          grid-column: span 2;
          label {
            input {
              margin-right: 10px;
            }
          }
          button {
            width: 30%;
            padding: 8px 0;
            border: 1px solid var(--color-purple);
            outline: none;
            border-radius: 15px;
            color: var(--color-white);
            background-color: var(--color-purple);
            cursor: pointer;
            transition: 0.2s linear;
            &:hover {
              color: var(--color-purple);
              background-color: var(--color-white);
            }
          }
        }
      }
    }
  }

  &--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 2%;
  }
  .transfer_history,
  .categories_list {
    box-shadow: var(--box-shadow-1);
  }
  .transfer_history {
    background-color: var(--color-white);
    border-radius: 40px;
    width: 70%;
    padding: 50px 0;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    .loading {
      display: none;
    }
    &[data-loading="true"] {
      .loading {
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 2px solid var(--color-purple);
        border-radius: 50%;
        border-bottom-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: main-loading 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
          infinite;
      }
    }
    h4 {
      position: absolute;
      top: 20px;
      padding-left: 20px;
    }
    &--content {
      display: flex;
      flex-direction: column;
      height: 300px;
      position: relative;
      & > div:not(.loading) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 30px 20px;
        &:nth-child(2n) {
          background-color: var(--color-grey-second);
        }
        .item_main {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .icon {
            height: 40px;
            width: 40px;
            overflow: hidden;
            border-radius: 50%;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
        .status,
        .amount,
        .date {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .person {
          width: 120px;
          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
            font-weight: 600;
            color: var(--color-text);
          }
          span {
            font-weight: 300;
            color: var(--color-grey);
            font-size: 0.8rem;
          }
        }
        .operation_id {
          width: 150px;
          font-weight: 700;
          color: var(--color-purple);
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .amount {
          width: 120px;
          font-weight: 700;
          color: var(--color-text);
        }
        .date {
          width: 140px;
          p {
            font-weight: 600;
            color: var(--color-text);
          }
          span {
            font-weight: 300;
            color: var(--color-grey);
            font-size: 0.8rem;
          }
        }
        .status {
          width: 100px;
          font-weight: 500;
        }
        .more_btn {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          letter-spacing: 1px;
        }
      }
    }
  }

  .categories_list {
    background-color: var(--color-white);
    border-radius: 40px;
    width: 20%;
    padding: 50px 0;
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s linear;
    overflow: hidden;
    &:hover {
      .create-new {
        opacity: 1;
      }
    }

    &--new {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      pointer-events: none;
      &[data-active="true"] {
        pointer-events: all;
        .overlay {
          opacity: 1;
        }
        .categories_list--new__content {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
      .overlay {
        width: 100%;
        height: 100%;
        background-color: var(--color-black-opacity);
        opacity: 0;
        transition: 0.2s linear;
      }
      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-white);
        box-shadow: var(--box-shadow-1);
        border-radius: 40px;
        width: 500px;
        height: min-content;
        padding: 20px 15px;
        transform: translate(-50%, -100%);
        opacity: 0;
        transition: 0.1s linear;
        h3 {
          text-align: center;
          margin-bottom: 10px;
        }
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          label {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .colors {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            button {
              height: 20px;
              width: 20px;
              background-color: attr(value);
              border: 1px solid transparent;
              outline: none;
              border-radius: 50%;
              padding: 0;
              overflow: hidden;
              transition: 0.2s linear;
              cursor: pointer;
              div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: 0.2s linear;
              }
              &.active {
                padding: 5px;
                border: 1px solid black;
              }
            }
          }
          input {
            width: 100%;
            height: 30px;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color: var(--color-grey-second);
            font-size: 0.9rem;
          }
          p {
            font-size: 0.9rem;
          }
          button[type="submit"] {
            border: 1px solid var(--color-purple);
            outline: none;
            background-color: var(--color-purple);
            padding: 5px 0;
            color: var(--color-white);
            border-radius: 8px;
            cursor: pointer;
            transition: 0.2s linear;
            font-size: 1rem;
            &:hover {
              background-color: var(--color-white);
              color: var(--color-purple);
            }
          }
        }
      }
    }
    &--head {
      h4 {
        position: absolute;
        top: 20px;
        padding-left: 20px;
      }
      button {
        position: absolute;
        top: 20px;
        left: calc(100% - 44px);
        background-color: transparent;
        cursor: pointer;
        height: 24px;
        width: 24px;
        padding: 0;
        border: none;
        outline: none;
        opacity: 0;
        transition: 0.2s linear;
        svg {
          transition: 0.2s linear;
        }
        &:hover {
          svg {
            fill: var(--color-purple);
          }
        }
      }
    }
    &--content {
      overflow: scroll;
      height: 300px;
      & > div:not(.loading) {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            font-weight: 500;
            font-size: 0.8rem;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span {
            font-weight: 600;
            font-size: 0.9rem;
          }
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          opacity: 0;
          transition: 0.2s linear;
          svg {
            transition: 0.2s linear;
          }
          &:hover {
            svg {
              fill: var(--color-purple);
            }
          }
        }
        &:hover {
          button {
            opacity: 1;
          }
        }
      }
      & > .loading {
        width: 35px;
        height: 35px;
        border: 2px solid var(--color-purple);
        border-radius: 50%;
        border-bottom-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: main-loading 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
          infinite;
      }
    }
  }
}

@keyframes js-progress {
  to {
    --progress-value: var(--progress-percent);
  }
}
@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
