.card_item {
  padding: 20px 25px;
  border-radius: 40px;
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  position: relative;
  .blocked {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: var(--color-black-opacity);
    z-index: 9;
  }
  &--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div:first-child {
      p {
        font-size: 0.9rem;
        margin-bottom: 5px;
        font-weight: 300;
      }
      span {
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
    .circles {
      display: flex;
      justify-content: center;
      align-items: center;
      .circle {
        height: 40px;
        width: 40px;
        background-color: #fff;
        border-radius: 50%;
        background-color: var(--color-white);
        opacity: 0.7;
        &:last-child {
          transform: translateX(-15px);
        }
      }
    }
  }
  &--card_number {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    align-self: flex-end;
    p {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  &.columns {
    position: absolute;
    z-index: 0;
    left: calc(100% - 50px);
    bottom: -20px;
    display: flex;

    .column {
      &:first-child {
        height: 190px;
        width: 60px;
        border-radius: 40px;
        background-color: var(--color-blue);
      }
      &:last-child {
        transform: translate(-90px, 50px);
        height: 190px;
        width: 60px;
        border-radius: 40px;
        background-color: var(--color-blue);
        opacity: 0.7;
      }
    }
  }
  &--data {
    display: flex;
    gap: 25px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        font-size: 0.8rem;
        font-weight: 400;
      }
      span {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
  &[data-loading="true"] {
    overflow: hidden;
    background: #d0d0d0 !important;
    position: relative;
    * {
      display: none !important;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 250px;
      width: 100%;
      animation: loading 1s infinite;
      background: linear-gradient(to right, transparent, #fffdfd, transparent);
    }
  }
}
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
